.login-container {
  width: 50vw !important;
  .tab-content {
    margin: 0 3rem;
    .md-form {
      label {
        &.active {
          color: black !important;
          font-weight: 700;
        }
      }
      input:focus {
        border-bottom: 2px solid black !important;
        box-shadow: none !important;
      }
    }
    button {
      width: 100%;
      margin-top: 20%;
      margin-left: 0;
      margin-right: 0;
    }
  }
  .login-body {
    .close-button {
      background-color: white !important;
      border: none;
      box-shadow: none;
      position: absolute;
      top: 0;
      right: 0;
      i {
        z-index: 9;
        color: black !important;
      }
    }
    .close-button:focus {
      background-color: white !important;
      border: none;
      box-shadow: none !important;
    }
    .nav-item {
      width: 11.5rem;
      a {
        color: gray;
        &.active {
          color: black;
          font-weight: 700;
        }
      }
    }
  }
  .modal-footer {
    font-size: small !important;
  }
}
