@import "./pc-build/pc-build";

.pc-builds-list-container {
  margin: 8rem 5%;
  margin-bottom: 10rem;
  max-height: 100vh;
  height: 100vh;
  overflow: scroll;
  h1 {
    font-weight: 700;
    padding: 1rem 0;
    border-bottom: 1.5px solid #3b3b3b;
    margin-bottom: 3rem;
  }
  .pc-builds-row {
    // max-height: 100%;
    margin-bottom: 10rem;
  }
  .pc-builds-row::-webkit-scrollbar {
    display: none;
  }
}
.pc-builds-list-container::-webkit-scrollbar {
  display: none;
}
