@import "./categoryComponent/categoryComponent";
.blanket-page-wrapper {
  background-color: #b3bdb6;
  text-align: center;
  .image-wrapper {
    height: 50vh;
    .image-on-top {
      width: 100%;
      height: 100%;
      animation: fadeIn 2s;
      object-fit: cover;
    }
  }

  h1 {
    margin-top: 2rem;
  }
  .collapsible-wrapper {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .trigger-for-collapsible {
      font-size: 2rem;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
