.component-container {
  &.favourite {
    max-width: 100%;
    min-width: 100%;
    .item-price-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .remove-button {
        width: 100% !important;
        margin-top: 5rem;
      }
    }
  }
}
