// @import "./header/header-style.scss";
@import "./pages/home-page/home-page-style.scss";
// @import "./pages/register-page/register.scss";
@import "./pages//blanketi-page/blanketi";
@import "./pages/home-page/login.scss";
@import "./pages/blanketi-landing-page/blanketi-landing-page";
@import "./pages/profile-page/profile";
@import "./header/header-style.scss";
@import "./pages/profile-page/blanketi-list/favourites-list";
@import "./pages/profile-page/blanketi-list/blanketItem/favouriteItem";
@import "./pages/blanketi-page/subject-page/subject-page";
@import "./header/add-sheet/add-sheet";
.app-container {
  max-width: 100%;
  padding: 0;
}
html {
  overflow: hidden;
}
